
<div id="page-wrapper">
  <div id="header" class="container-fluid clearfix">
    <div class="py-3">
      <div class="row">
        <div id="logo-wrapper" class="offset-md-1 col-md-2 logo-wrapper">
          {{ page.logo }}
        </div>
        {% if page.login %}
          <nav class="col-md-9 navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              {{ page.login }}
            </div>
          </nav>
          </nav> 
        {% endif %}   
      </div>
    </div>
  </div>
  <div id="banner" class="clearfix">
    <div class="position-relative">
      {{ page.banner }}
    </div>
  </div>
  <div id="content" class="container-fluid pb-5 clearfix">
    <div class="row">
      {% if page.content %}
        <div class="main-content offset-lg-1 col-lg-8">
          {{ page.content }}
        </div>
      {% endif %}
      {% if page.sidebar %}
        <div class="sidebar col-lg-2">
          <div class="sidebar-block mt-5 mb-4 rounded overflow-hidden">
            <!-- <h3 class="text-center py-2 m-0 rounded-top">Years</h3> -->
            <div class="sidebar-block-content p-4 ">
              <form>
                <input type="text" name="search" placeholder="SEARCH">
              </form>
            </div>
          </div>
          {{ page.sidebar }}
        </div>
      {% endif %}
    </div>
  </div>
  <div id="footer" class="clearfix">
    <div class="">
      <div></div>
      <div></div>
    </div>
  </div>
  <div id="copyrights" class="clearfix">
    <div class="row">
      <div class="text-left offset-md-1 col-md-5">
        © Copyrights 2019 - BUGBITE All Rights Reseverd
      </div>
      <div class="text-right col-md-5">
        Design and Created by BUGBITE
      </div>
    </div>
  </div>
</div>